@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-color: #0b0b0b;
}

.instrument-serif {
  font-family: "Instrument Serif", serif;
}